# 과제도와주기 프로젝트 11번째

- 요청 : 과 동기<br>
- 일시 : 2021-05-04
- 과목 : AI+X 딥러닝<br>
- 언어 : python

<img src='src/2021-05-04-1.png' style='float:left; width:600px;'>

In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('data/lottery.csv')
df['win']=1
df

df_2 = df.copy()
df_2['round']=np.arange(960, 1919)
df_2.iloc[:, 2:9]=np.random.randint(1, 46, (959, 7))
df_2['win']=0
df_final = pd.concat([df, df_2])

df_final

     round        date  first  second  third  fourth  fifth  sixth  bonus  win
0      959  2021.04.17      1      14     15      24     40     41     35    1
1      958  2021.04.10      2       9     10      16     35     37      1    1
2      957  2021.04.03      4      15     24      35     36     40      1    1
3      956  2021.03.27     10      11     20      21     25     41     40    1
4      955  2021.03.20      4       9     23      26     29     33      8    1
..     ...         ...    ...     ...    ...     ...    ...    ...    ...  ...
954   1914  2003.01.04     27      23     16       8     12      7      9    0
955   1915  2002.12.28      1      23     25       6     19     17     27    0
956   1916  2002.12.21      8      21     13      14     36      1     15    0
957   1917  2002.12.14     25      38     28      39      9     44     24    0
958   1918  2002.12.07     19      45     36       4      2     19     35    0

[1918 rows x 10 columns]